.main{
    /* margin-top: 5rem; */
}

.collapse{
    /* display: flex;
    flex-direction: row; */
    /* border: 1px solid black; */
    font-size: 0.8rem;
    margin-left: 5px;
    transform: rotate(190deg);
    /* border: 1px solid black; */
}

.label{
    /* display: flex;
    flex-direction: row; */
}

.addFolder{
    margin-left: 10px;
}